/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /*border:1px solid grey;*/
}

html {
    font-size: 62.5px;
}

.first-flex {
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-flex h2 {
    background-color: cornsilk;
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5rem;
    width: 30%;
    text-align: center;
}

.first-flex nav {
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35%;
}

nav a {
    font-size: 0.4rem;
    color: darkgreen;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.info {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

#call-us {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.3rem;
    padding: 5% 2.5%;
    line-height: 0.5rem;
}

#working-hours {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 0.3rem;
    padding: 5% 2.5%;
    line-height: 0.5rem;
}

.second-flex {
    background-color: darkgreen;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5% 2.5%;
    font-size: 0.3rem;
    text-align: center;
}

.second-flex h1 {
    margin: 1% 0%;
}

.third-flex {
    display: flex;
    justify-content: space-evenly;
}

footer {
    padding: 5.5% 1%;
    background-color: cornsilk;
    font-size: 0.3rem;
    text-align: center;
}

footer a {
    font-style: italic;
    color: black;
    text-decoration: none;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    margin: 20% auto;
    border-radius: 30px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
  