/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /*border:1px solid grey;*/
}

html {
    font-size: 62.5px;
}

.first-flex {
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-flex h2 {
    background-color: cornsilk;
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5rem;
    width: 30%;
    text-align: center;
}

.first-flex nav {
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35%;
}

nav a {
    font-size: 0.4rem;
    color: darkgreen;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.second-flex {
    background-color: darkgreen;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5% 2.5%;
    font-size: 0.3rem;
    text-align: center;
}

.second-flex h1 {
    margin: 1% 0%;
}

button {
    padding: 4px 10px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.third-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    line-height: 50px;
}

#service1 {
    margin: 3%;
    text-align: center;
    font-size: 0.3rem;
    width: 40%;
}

.third-flex img {
    border-radius: 30px;
}

#service2 {
    margin: 3%;
    text-align: center;
    font-size: 0.3rem;
    width: 40%;
}

#service3 {
    margin: 3%;
    text-align: center;
    font-size: 0.3rem;
    width: 40%;
}

#service4 {
    margin: 3%;
    text-align: center;
    font-size: 0.3rem;
    width: 40%;
}

#service5 {
    margin: 3%;
    text-align: center;
    font-size: 0.3rem;
    width: 40%;
}

#service6 {
    margin: 3%;
    text-align: center;
    font-size: 0.3rem;
    width: 40%;
}

footer {
    padding: 5.5% 1%;
    background-color: cornsilk;
    font-size: 0.3rem;
    text-align: center;
}

footer a {
    font-style: italic;
    color: black;
    text-decoration: none;
}


@media(max-width: 500px) {
    .first-flex {
        display: flex;
        flex-direction: column;
    }

    .first-flex h2 {
        width: 100%;
    }

    .first-flex nav {
        flex-direction: column;
        width: 100%;
        margin: 3% auto;
    }

    .second-flex button{
        margin: 3% auto;
    }

    .third-flex {
        display: flex;
        flex-direction: column;
        line-height: 30px;
    }

    #service1 {
        width: 80%;
    }

    #service2 {
        width: 80%;
    }

    #service3 {
        width: 80%;
    }

    #service4 {
        width: 80%;
    }

    #service5 {
        width: 80%;
    }

    #service6 {
        width: 80%;
    }
}

@media(max-width: 800px) {
    .first-flex {
        display: flex;
        flex-direction: column;
    }

    .first-flex h2 {
        width: 100%;
    }

    .first-flex nav {
        flex-direction: column;
        width: 100%;
        margin: 3% auto;
    }
}

@media(max-width: 1000px) {
    .first-flex {
        display: flex;
    }

    .first-flex h2 {
        width: 100%;
    }

    .first-flex nav {
        width: 100%;
    }

    .third-flex {
        line-height: 35px;
    }
}