* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    /*border:1px solid grey;*/
}

html {
    font-size: 62.5px;
}

.first-flex {
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-flex h2 {
    background-color: cornsilk;
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5rem;
    width: 30%;
    text-align: center;
}

.first-flex nav {
    background-color: cornsilk;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 35%;
}

nav a {
    font-size: 0.4rem;
    color: darkgreen;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.second-flex {
    background-color: darkgreen;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5% 2.5%;
    font-size: 0.3rem;
    text-align: center;
}

.second-flex h1 {
    margin: 1% 0%;
}

.second-flex p {
    width: 45%;
    margin: auto;
}

#tosPicture img {
    border-radius: 30px;
}

#tosPicture {
   display: flex;
   justify-content: center;
   margin-top: 2%;
}

.termsOfService {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

#conditionsOfUse {
    margin: 3%;
    text-align: center;
    font-size: 0.3rem;
}

#copyright {
    margin: 3%;
    text-align: center;
    font-size: 0.3rem;
}

#communications {
    margin: 3%;
    text-align: center;
    font-size: 0.3rem;
}

#applicableLaw {
    margin: 3%;
    text-align: center;
    font-size: 0.3rem;
}

#disputes {
    margin: 3%;
    text-align: center;
    font-size: 0.3rem;
}

#comments {
    margin: 3%;
    text-align: center;
    font-size: 0.3rem;
}

#licenseAndSiteAccess {
    margin: 3%;
    text-align: center;
    font-size: 0.3rem;
}

#userAccount {
    margin: 3%;
    text-align: center;
    font-size: 0.3rem;
}


footer {
    padding: 5.5% 1%;
    background-color: cornsilk;
    font-size: 0.3rem;
    text-align: center;
}

footer a {
    font-style: italic;
    color: black;
    text-decoration: none;
}

@media(max-width: 500px) {
    .first-flex {
        display: flex;
        flex-direction: column;
    }

    .first-flex h2 {
        width: 100%;
    }

    .first-flex nav {
        flex-direction: column;
        width: 100%;
        margin: 3% auto;
    }

    #tosPicture {
        max-width: 70%;
        height: auto;
        margin: 10% auto;
    }

    .second-flex p {
        margin: 10% auto;
        width: 100%;
    }

    .termsOfService {
        width: 90%;
    }
}

@media(max-width: 1000px) {
    .first-flex {
        display: flex;
    }

    .first-flex h2 {
        width: 100%;
    }

    .first-flex nav {
        width: 100%;
    }
    
    .info {
        display: flex;
    }
}